<section class="posts">
    {% for post in site.posts limit:4 %}
    {% assign mod3 = forloop.index | modulo: 3 %}
        <article>
            <header>
                <span class="date">{{ post.date | date_to_string }}</span>
                <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            </header>
            <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
            <p>{{ post.excerpt }}</p>
            <ul class="actions">
                <li><a href="{{ post.url | absolute_url }}" class="button special">Full Story</a></li>
            </ul>
        </article>
        {% if mod3 == 0 %}

        {% endif %}
    {% endfor %}

    

</section>

<ul class="actions fit">
    <li><a href="{{ "/news/" | absolute_url }}" class="button special fit">More Frontline News</a></li>
</ul>
