    <form id="join" action="/api/cform" method="post">
      <div class="field">
        <label>I am an American Citizen or permanent resident (you have a Green Card).*</label>
        <div>
          <input type="checkbox" name="american" id="american_yes" value="yes" required />
          <label for="american_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I am a legal resident of one of the following states:  Georgia, Florida, Tennessee, Alabama, South Carolina, North Carolina.*</label>
        <div>
          <input type="checkbox" name="inState" id="inState_yes" value="yes" required />
          <label for="inState_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I am between the ages of 18-64.*</label>
        <div>
          <input type="checkbox" name="inAge" id="inAge_yes" value="yes" required />
          <label for="inAge_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I meet the height and weight requirements established by the Georgia State Defense Force.  (See chart below)*</label>
        <div>
          <input type="checkbox" name="heightWieght" id="heightWieght_yes" value="yes" required />
          <label for="heightWieght_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I will provide a copy of my GED/high school diploma, or an official transcript or college diploma/official transcript.*</label>
        <div>
          <input type="checkbox" name="diploma" id="diploma_yes" value="yes" required />
          <label for="diploma_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>If prior military service, I can provide a copy of my Member 4, DD214.*</label>
        <div>
          <input type="checkbox" name="dd214" id="dd214_yes" value="yes" />
          <label for="dd214_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I willingly commit to serve two years in the GSDF.*</label>
        <div>
          <input type="checkbox" name="twoYears" id="twoYears_yes" value="yes" required />
          <label for="twoYears_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I willingly commit to at least 10 of the 12 monthly (two-day) drills.  (One weekend every month)*</label>
        <div>
          <input type="checkbox" name="drills" id="drills_yes" value="yes" required />
          <label for="drills_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I will be honest and upfront with any information relating to my criminal record.*</label>
        <div>
          <input type="checkbox" name="criminal" id="criminal_yes" value="yes" required />
          <label for="criminal_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I understand this is a volunteer position, and there is no monetary compensation.*</label>
        <div>
          <input type="checkbox" name="monetary" id="monetary_yes" value="yes" required />
          <label for="monetary_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>For my safety and the safety of others during deployment within the state, I confirm I speak fluent English.*</label>
        <div>
          <input type="checkbox" name="english" id="english_yes" value="yes" required />
          <label for="english_yes">Yes</label>
        </div>
      </div>
      <div class="field">
        <label>I confirm I do not have any tattoos that are against the AR 670-1 listed below.*</label>
        <div>
          <input type="checkbox" name="tattoos" id="tattoos_yes" value="yes" required />
          <label for="tattoos_yes">Yes</label>
        </div>
      </div>

      <div class="field">
        <label for="fname">First Name*</label>
        <input type="text" name="fname" id="fname" required />
      </div>
      <div class="field">
        <label for="lname">Last Name*</label>
        <input type="text" name="lname" id="lname" required />
      </div>
      <div class="field">
        <label for="email">Email*</label>
        <input type="email" name="email" id="email" required /> 
      </div>
      <div class="field">
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" /> 
      </div>
      <div class="field">
        <label for="city">City*</label>
        <input type="text" name="city" id="city" required /> 
      </div>
      <div class="field">
        <label for="state">State*</label>
        <input type="text" name="state" id="state" required /> 
      </div>
      <div class="field">
        <label for="findout">How did you find out about us?*</label>
        <input type="text" name="findout" id="findout" required /> 
      </div>
      <div class="field">
        <label for="preferred">Preferred Unit*</label>
        <select name="preferred" id="preferred" form_id="join" required>
          <option value="">Please Pick One</option>
          <option value="No Preference/Unsure">No Preference/Unsure</option>
          <optgroup label="GFAB North">
            <option value="N-1st Battalion">1st Battalion</option>
            <option value="N-2nd Battalion">2nd Battalion</option>
            <option value="N-3rd Battalion">3rd Battalion</option>
            <option value="N-4th Battalion">4th Battalion</option>
          </optgroup>
          <optgroup label="GFAB South">
            <option value="4th Brigade">4th Battalion</option>
            <option value="5th Brigade">5th Battalion</option>
          </optgroup>
          <option value="76th Support Brigade">76th Support Brigade</option>
          <option value="1st Engineering BN">1st Engineer Battalion</option>
          <option value="911th BN">911th Battalion</option>
          <option value="132nd Medical Battalion">132nd Medical Battalion</option>
          <option value="Band">Band</option>
          <option value="Chaplain Corps">Chaplain Corps</option>
          <option value="HQ/HHC">HQ/HHC</option>
          <option value="JAG">JAG</option>
          <option value="Public Affairs Office">Public Affairs Office</option>
          <option value="TRADOC">TRADOC</option>
        </select>
      </div>
      <div class="cf-turnstile field" data-sitekey="0x4AAAAAAAGhkeh46MpW7Ati"></div>
      <!-- <div class="cf-turnstile field" data-sitekey="1x00000000000000000000AA"></div> -->
      <ul class="actions">
        <li><input type="Submit" value="Contact Recruiter" /></li>
      </ul>
    </form>
