<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/join' %} active {% endif %}"><a href="{{ "/pages/join" | absolute_url }}">Join</a></li>
  <li class="{% if page.url contains '/history' %} active {% endif %}"><a href="{{ "/pages/history" | absolute_url }}">History</a></li>
  <li class="{% if page.url contains '/about' %} active {% endif %}"><a href="{{ "/pages/about" | absolute_url }}">About</a></li>
</ul>

<ul class="icons">
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
