p.notice {
    margin: 0;
    color: #ffffff;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

.static-notice {
    background-color: #15581a;
    //position: fixed;
    width: 100%;
    margin: 0 auto; /* Center the DIV horizontally */
    padding: 0px 0;
    z-index:1000

}

.static-bottom {
    bottom: 0;

}

.static-top {
    top: 0;

}

body.is-loading {
    padding-top: 0px;
    padding-bottom: 0px;
}
#intro {

}


a.logo {
    text-shadow: 3px 3px 3px #000000;
}

h1.intro-title {
    text-shadow: 4px 4px 5px #000000;
}

p.intro-subtitle {
    text-shadow: 2px 2px 4px #000000;
}